#roulette .roulette-section:first-child {
    transform: rotate(0deg) skewY(-60deg);
    -webkit-transform: rotate(0deg) skewY(-60deg);
    -moz-transform: rotate(0deg) skewY(-60deg);
    -ms-transform: rotate(0deg) skewY(-60deg);
    -o-transform: rotate(0deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(2) {
    transform: rotate(30deg) skewY(-60deg);
    -webkit-transform: rotate(30deg) skewY(-60deg);
    -moz-transform: rotate(30deg) skewY(-60deg);
    -ms-transform: rotate(30deg) skewY(-60deg);
    -o-transform: rotate(30deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(3) {
    transform: rotate(60deg) skewY(-60deg);
    -webkit-transform: rotate(60deg) skewY(-60deg);
    -moz-transform: rotate(60deg) skewY(-60deg);
    -ms-transform: rotate(60deg) skewY(-60deg);
    -o-transform: rotate(60deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(4) {
    transform: rotate(90deg) skewY(-60deg);
    -webkit-transform: rotate(90deg) skewY(-60deg);
    -moz-transform: rotate(90deg) skewY(-60deg);
    -ms-transform: rotate(90deg) skewY(-60deg);
    -o-transform: rotate(90deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(5) {
    transform: rotate(120deg) skewY(-60deg);
    -webkit-transform: rotate(120deg) skewY(-60deg);
    -moz-transform: rotate(120deg) skewY(-60deg);
    -ms-transform: rotate(120deg) skewY(-60deg);
    -o-transform: rotate(120deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(6) {
    transform: rotate(150deg) skewY(-60deg);
    -webkit-transform: rotate(150deg) skewY(-60deg);
    -moz-transform: rotate(150deg) skewY(-60deg);
    -ms-transform: rotate(150deg) skewY(-60deg);
    -o-transform: rotate(150deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(7) {
    transform: rotate(180deg) skewY(-60deg);
    -webkit-transform: rotate(180deg) skewY(-60deg);
    -moz-transform: rotate(180deg) skewY(-60deg);
    -ms-transform: rotate(180deg) skewY(-60deg);
    -o-transform: rotate(180deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(8) {
    transform: rotate(210deg) skewY(-60deg);
    -webkit-transform: rotate(210deg) skewY(-60deg);
    -moz-transform: rotate(210deg) skewY(-60deg);
    -ms-transform: rotate(210deg) skewY(-60deg);
    -o-transform: rotate(210deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(9) {
    transform: rotate(240deg) skewY(-60deg);
    -webkit-transform: rotate(240deg) skewY(-60deg);
    -moz-transform: rotate(240deg) skewY(-60deg);
    -ms-transform: rotate(240deg) skewY(-60deg);
    -o-transform: rotate(240deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(10) {
    transform: rotate(270deg) skewY(-60deg);
    -webkit-transform: rotate(270deg) skewY(-60deg);
    -moz-transform: rotate(270deg) skewY(-60deg);
    -ms-transform: rotate(270deg) skewY(-60deg);
    -o-transform: rotate(270deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(11) {
    transform: rotate(300deg) skewY(-60deg);
    -webkit-transform: rotate(300deg) skewY(-60deg);
    -moz-transform: rotate(300deg) skewY(-60deg);
    -ms-transform: rotate(300deg) skewY(-60deg);
    -o-transform: rotate(300deg) skewY(-60deg);
}

#roulette .roulette-section:nth-child(12) {
    transform: rotate(330deg) skewY(-60deg);
    -webkit-transform: rotate(330deg) skewY(-60deg);
    -moz-transform: rotate(330deg) skewY(-60deg);
    -ms-transform: rotate(330deg) skewY(-60deg);
    -o-transform: rotate(330deg) skewY(-60deg);
}